# 리스트

In [1]:
# 리스트 생성
a = [1, 2, 3, 4, 5]
print(a)
# 자료형 확인
print(type(a))
# 개별 요소를 참조 - 인덱스
print(a[0])
print(a[1])
print(a[-1])
# 리스트는 변경 가능
a[0] = 10
print("a= ", a)
# 개별요소를 줄단위로 출력
for i in a:
    print(i)

print("-" * 20)

# for in a:
#     print(a[i])

[1, 2, 3, 4, 5]
<class 'list'>
1
2
5
a=  [10, 2, 3, 4, 5]
10
2
3
4
5
--------------------

In [2]:
# 중첩 리스트 - 이차원 리스트, 이차원 배열
a = [1, 2, 3, ['a', 'b', 'c']]
print(a)
print(a[3])
print(a[3][0]) # 리스트 [행][열]

[1, 2, 3, ['a', 'b', 'c']]
['a', 'b', 'c']
a

In [3]:
#리스트를 저장할 때 값 자체가 아니라 값이 위치한 메모리의 주소를 저장한다.
x = [1, 2, 3, 4, 5]
# 객체 복사
y = x
y[0] = 10
print("x = ", x)
print("y = ", y)

x =  [10, 2, 3, 4, 5]
y =  [10, 2, 3, 4, 5]

In [5]:
x = [1, 2, 3, 4, 5]
y = x[:]
y[0] = 10
print("x = ", x)
print("y = ", y)

x =  [1, 2, 3, 4, 5]
y =  [10, 2, 3, 4, 5]

In [6]:
x = [1, 2, 3, 4, 5]
print(x[0:2])

[1, 2]

In [7]:
print(x[:])

[1, 2, 3, 4, 5]

In [8]:
print(x[:3])

[1, 2, 3]

In [9]:
print(x[1:])

[2, 3, 4, 5]

In [11]:
a = [[1, 2, 3], ['a', 'b', 'c']]
print(x[0:1][2])

IndexError: list index out of range

In [12]:
# 리스트 연산 : 더하기 연산
a = [1, 2, 3]
b = [5, 6 ,7]
c = a + b # extend(확장)을 의미, 리스트가 가로로 연결된다.
a.extend(b) # a.extend(b) = a = a + b
print("c = ", c)
print("d = ", d)

c =  [1, 2, 3, 5, 6, 7]
d =  None

In [13]:
# 문자열도 시퀀스 자료형
# 문자열 + 문자열 
"hello" + "python"

'hellopython'

In [14]:
# 리스트 연산 : 곱셈(*), 반복
a = [1, 2, 3]
b = a * 3
b

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [15]:
"hello" * 3

'hellohellohello'

In [16]:
a[1:2] = ['a', 'b', 'c']
a

[1, 'a', 'b', 'c', 3]

In [17]:
a = [1, 2, 3]
a[1:3] = []
a

[1]

In [18]:
a = [1, 2, 3]
del a[1]
a

[1, 3]

In [19]:
a = [1, 4, 2, 3]
a.sort()
print(a)

[1, 2, 3, 4]

In [20]:
a = [1, 4, 2, 3]
a.reverse() #뒤집어라
a

[3, 2, 4, 1]

In [21]:
a = [1, 4, 2, 3]
a.sort()
a.reverse() #뒤집어라
a

[4, 3, 2, 1]

In [22]:
a = [1, 4, 2, 3]
a.sort(reverse=True)
a

[4, 3, 2, 1]

In [23]:
a = ['a', 'd', 'b', 'c']
a.sort()
a

['a', 'b', 'c', 'd']

In [24]:
a = ['a', 'd', 'b', 'c']
a.sort(reverse=True)
a

['d', 'c', 'b', 'a']

In [26]:
a = ['가위', '한자', '동생', '한글']
a.sort()
a

['가위', '동생', '한글', '한자']

In [27]:
a = [1, 2, 3, 4, 5]
print(a.index(3)) # 3이라는 값이 몇번째 위치에 있느냐?

2

In [28]:
b = ['a', 'b', 'c']
print(b.index('h')) # 없는 데이터의 위치를 찾으면 에러발생

ValueError: 'h' is not in list

In [29]:
a = [1, 2, 3]
a.insert(0, 4)
print(a)

[4, 1, 2, 3]

In [30]:
a = [1, 2, 3, 1, 2, 3]
# 값이 3인 요소 삭제(1개만)
a.remove(3) # 값으로 삭제
print(a)

[1, 2, 1, 2, 3]

In [31]:
del a[0] # 인덱스로 삭제

In [32]:
a

[2, 1, 2, 3]

In [33]:
a = [1, 2, 3]
b = a.pop() # 리스트의 마지막 요소를 추출
print(a)
print(b)

[1, 2]
3

In [34]:
# 요소의 개수(건수)
a = [1, 2, 3, 1, 2, 1]
b = a.count(1) # 값이 1인 요소가 몇개인지 계산하는 함수
print(b)

3

In [35]:
# 요소의 개수(건수)
a = [1, 2, 3, 1, 2, 1]
b = a.count(3) # 값이 1인 요소가 몇개인지 계산하는 함수
print(b)

1

In [36]:
# 리스트의 확장
a = [1, 2, 3]
# 리스트1.extend(리스트2) > 리스트1 확장
a.extend([4, 5])
print(a)

[1, 2, 3, 4, 5]

In [37]:
# 값 in 리스트, 값 not in 리스트 => 결과는 True or False
a = [1, 2, 3, 4, 5]
result = 2 in a # 있으면 T, 없으면 F
print(result)

result = 2 not in a # 없으면 T, 있으면 F
print(result)

True
False

# 튜플(Tuple)

In [38]:
t1 = (1, 2, 'a', 'b')
print(t1)
print(type(t1))
print(t1[0])
print(t1[-1])
t1[0] = 'c' # 튜플은 변경불가능, 에러 발생

(1, 2, 'a', 'b')
<class 'tuple'>
1
b

TypeError: 'tuple' object does not support item assignment

In [39]:
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [40]:
t1 = (1, 2, 'a', 'b')
print(t1[1:])
t2 = (3, 4)
print(t1 + t2)
t1 = t1 + t2 # 새로운 튜플을 생성한다는 의미로 이해해야 한다.
print("t1 = ", t1)
print(t1 * 3)

(2, 'a', 'b')
(1, 2, 'a', 'b', 3, 4)
t1 =  (1, 2, 'a', 'b', 3, 4)
(1, 2, 'a', 'b', 3, 4, 1, 2, 'a', 'b', 3, 4, 1, 2, 'a', 'b', 3, 4)

In [41]:
# 파이썬의 기본 자료형 튜플
a = 10
b = 20
a, b = b, a
print(a, b)

20 10

In [43]:
# packing(패킹) : 여러 개의 값을 하나의 변수에 저장하는 것
t1 = (1, 2, 3)

# unpacking : 하나의 변수에 담은 값을 각가의 변수에 할당하는 것
# 데이터의 개수와 변수의 개수는 반드시 일치해야 한다,
n1, n2, n3 = t1

# 출력형식이 포함된 문자열.format(값1, 값2, 값3)
print("{0} {1} {2}".format(n1, n2, n3))

# 변수의 값을 교환
n1, n2 = n2, n1
print("{0} {1}".format(n1, n2))

1 2 3
2 1

In [44]:
# 형변환 : int(), float(), str()
# 자료구조의 형변환 : list(), tuple()
my_list = [1, 2, 3]
my_tuple = ('x', 'y', 'z')
print(my_list)
print(my_tuple)

[1, 2, 3]
('x', 'y', 'z')

In [45]:
print(tuple(my_list))
print(list(my_tuple))

(1, 2, 3)
['x', 'y', 'z']

## 딕셔너리

In [46]:
# 딕셔너리{key:value}
# key는 순자인덱스보다 문자인덱스를 선호(권장)
# key는 중복 불가능
a = {1:'a'}
print(a)
print(type(a))

{1: 'a'}
<class 'dict'>

In [47]:
# 사전의 아이템(item)
a[2] = 'b'
print(a)

{1: 'a', 2: 'b'}

In [1]:
stu = {'name':['홍길동','010-1234-5678'], 'phone':'010-1234-5678', 'age':23}
print(stu)

{'name': ['홍길동', '010-1234-5678'], 'phone': '010-1234-5678', 'age': 23}

In [2]:
# 키를 이용해서 값을 조회
print(stu['name']) # 딕셔너리[key]
print(stu.get('name')) # 딕셔너리.get(key)

print(stu['age']) # 딕셔너리[key]
print(stu.get('age')) # 딕셔너리.get(key)

['홍길동', '010-1234-5678']
['홍길동', '010-1234-5678']
23
23

In [54]:
# keys 조회
stu.keys()

dict_keys(['name', 'phone', 'age'])

In [55]:
# values 조회
stu.values()

dict_values(['홍길동', '010-1234-5678', 23])

In [56]:
# item 조회
stu.items()

dict_items([('name', '홍길동'), ('phone', '010-1234-5678'), ('age', 23)])

In [58]:
# for 개별변수 in 집합변수
for k in stu.keys(): # for k in ['name', 'phone', 'age']
    print(k, "==>", stu[k])

name ==> 홍길동
phone ==> 010-1234-5678
age ==> 23

In [61]:
b = list(stu.keys())
print(b)

['name', 'phone', 'age']

In [60]:
b = stu.keys()
type(b)

dict_keys

In [62]:
c = list(stu.values())
print(c)

['홍길동', '010-1234-5678', 23]

In [63]:
d = list(stu.items())
print(d)

[('name', '홍길동'), ('phone', '010-1234-5678'), ('age', 23)]

In [64]:
print(d[0])

('name', '홍길동')

In [65]:
for k,v in stu.items():
    print(k, "==>", v)

name ==> 홍길동
phone ==> 010-1234-5678
age ==> 23

In [66]:
# 새로운 item 추가
stu['weight'] = 67.4
print(stu)

{'name': '홍길동', 'phone': '010-1234-5678', 'age': 23, 'weight': 67.4}

In [67]:
'weight' in stu

True

In [68]:
'67.4' in stu

False

# 집합(set)

In [69]:
# 집합 자료형 : 중복값은 허용하지 않으며, 순서대로 저장되지 않는다.
s1 = set([5, 4, 3, 2, 1, 1, 2, 3, 2, 3, 4, 5])
s1

{1, 2, 3, 4, 5}

In [70]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

# 교집합,  &
a = s1 & s2
print("교집합 : ", a)

# 합집합, |
b = s1 | s2
print("합집합 : ", b)

# 차집합, -
c = s1 - s2
print("차집합 : ", c)

교집합 :  {4, 5, 6}
합집합 :  {1, 2, 3, 4, 5, 6, 7, 8, 9}
차집합 :  {1, 2, 3}

In [71]:
print("교집합 : ",s1.intersection(s2))
print("합집합 : ", s1.union(s2))
print("차집합 : ", s1.difference(s2))

교집합 :  {4, 5, 6}
합집합 :  {1, 2, 3, 4, 5, 6, 7, 8, 9}
차집합 :  {1, 2, 3}

In [72]:
s1 = set([1, 2, 3])
# 요소 추가
s1.add(4)
print(s1)
s1.add(5) # 한번에 여러 요소 추가 불가능, 에러 발생
print(s1)

{1, 2, 3, 4}
{1, 2, 3, 4, 5}

In [73]:
s1 = set([1, 2, 3])
s1.update([4, 5, 6]) # update는 리스트 사용 가능
print(s1)

{1, 2, 3, 4, 5, 6}

In [74]:
s1.remove(2) #값 제거
print(s1)

{1, 3, 4, 5, 6}

In [75]:
dic = {"a":10}
sse = {10}
print(dic)
print(sse)

{'a': 10}
{10}

In [81]:
x = 300
y = 300
print(id(x))
print(id(y))
x,y = y,x
print(id(x))
print(id(y))

2815488611888
2815488612848
2815488612848
2815488611888

# 날짜 자료형

In [82]:
# 날짜 관련 함수를 가지고 있는 모듈을 포함
# import datetime 해당 모듈 전체를 가져온다는 의미
from datetime import date, time, datetime, timedelta

In [83]:
# date 변수, today() - 오늘 날짜를 구하는 함수
today = date.today()
print("today : {}".format(today))

today : 2022-09-01

In [86]:
print("년 : {}".format(today.year))
print("월 : {}".format(today.month))
print("일 : {}".format(today.day))

연도 : 2022
월 : 9
일 : 1

In [105]:
# 날짜 시간 구하기
current_datetime = datetime.today()
print("현재 날짜와 시간 : {}".format(current_datetime))

현재 날짜와 시간 : 2022-09-01 12:50:25.044107

In [107]:
# 형식화된 날짜 출력 : 서식(%)
today = datetime.today()
print(today)
print(type(today))

2022-09-01 14:24:25.015394
<class 'datetime.datetime'>

In [112]:
# 날짜 자료형을 문자열로 형변환
# %y - 년도, %m - 월, %M - 분, %H - 시간
d = today.strftime("%Y-%m-%d %H:%M:%S")
print(d)
print(type(d))

2022-09-01 14:24:25
<class 'str'>

In [113]:
days = timedelta(days=-1)
# 어제 날짜
print(today + days)

2022-08-31 14:24:25.015394

In [114]:
#1주일 전
days = timedelta(days = -7)
print(today + days)

2022-08-25 14:24:25.015394

In [116]:
days = timedelta(days = 30)
print(today + days)

2022-10-01 14:24:25.015394

In [117]:
#8시간 전
hours = timedelta(hours = -8)
print(today + hours)

2022-09-01 06:24:25.015394

# 리스트 내포(List comprehension)

In [118]:
a = [] # a = list()

for i in range(1, 6): # [1, 2, 3, 4, 5]
    a.append(i * 2)
    
print(a)

[2, 4, 6, 8, 10]

In [119]:
# 출력값 - 실제 리스트에 담겨질 값
a = [i * 2 for i in range(1,6)]
print(a)

[2, 4, 6, 8, 10]

In [122]:
array = ['사과', '자두', '초콜릿', '바나나', '체리']
output = []

for i in array:
    if i != '초콜릿':
        output.append(i)
        
print(output)

['사과', '자두', '바나나', '체리']

In [125]:
# 인라인 함수 inline 한 줄로만 이루어진 함수
array = ['사과', '자두', '초콜릿', '바나나', '체리']
output = [i for i in array if i != '초콜릿']

print(output)

['사과', '자두', '바나나', '체리']