In [ ]:
a = 10
b = 20
print(a + b)

In [ ]:
a = int(input("su = "))
b = int(input("su = "))
print(a + b)

In [1]:
def adder(x, y):
    return x+y

In [2]:
# 호출 : Call by Name, Call by Value
adder(10, 20)

30

In [3]:
def process(x, y, z):
    pass

In [4]:
def test():
    return 1, 2, 3, 4, 5

In [5]:
test()

(1, 2, 3, 4, 5)

# 내장 함수

In [6]:
# 절대값
print(abs(-3))
print(abs(3))

3
3

In [9]:
# all() - 모든 값이 True인지 검사하는 함수
# 0과 1
print(all([1, 2, 3]))
print(all([1, 2, 3, 0]))

True
False

In [10]:
# any() - 한개라도 True이면 True
print(any([1, 2, 3]))
print(any([1, 2, 3, 0]))
print(any([0, 0, 0, 0, 0]))

True
True
False

In [11]:
# 문자열일 경우 비어있으면 False, 값이 있으면 True
a = "hello"

if a:
    print("True")
else:
    print("False")

True

In [12]:
a = ""

if a:
    print("True")
else:
    print("False")

False

In [13]:
print(dir([1, 2, 3])) # 객체의 멤버 목록(변수나 함수)

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [14]:
print(dir({'name':'홍길동'}))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [15]:
a = 7
b = 3
c = a // b # 정수 몫
d = a % b # 나머지
print("몫 : {0}, 나머지 : {1}".format(c,d))

In [16]:
print(divmod(7,3)) # 몫과 나머지가 튜플 형식으로 리턴
print(divmod(1.3, 0.2))

(2, 1)
(6.0, 0.09999999999999998)

In [17]:
n1, n2 = divmod(7, 3)
print("몫 : {0}, 나머지 : {1}".format(n1,n2))

몫 : 2, 나머지 : 1

In [18]:
# 인덱스와 값을 리턴하는 함수
print(enumerate([10, 20, 30, 40, 50]))

<enumerate object at 0x000001EF352DC4C0>

In [19]:
print(list(enumerate([10, 20, 30, 40, 50])))

[(0, 10), (1, 20), (2, 30), (3, 40), (4, 50)]

In [20]:
for index, value in enumerate([10, 20, 30, 40, 50]):
    print(index, value)

0 10
1 20
2 30
3 40
4 50

In [21]:
# eval() : 문자열의 따옴표를 제거하고 실행하는 함수
num = input("number = ")

print(num + 7)

number = 1

TypeError: can only concatenate str (not "int") to str

In [22]:
str = "divmod(7, 3)"
print(str)
print(eval(str))

divmod(7, 3)
(2, 1)

In [23]:
print(hex(234))

0xea

In [24]:
print(hex(3))

0x3

In [26]:
# id(객체) - 객체의 주소를 리턴하는 함수
a = 3
print(id(a), id(3))
b = a
print(id(b))

2126815324528 2126815324528
2126815324528

In [27]:
a = input()
print(a)

a
a

In [28]:
b = input("입력 = ")
print(b)

입력 = hh
hh

In [29]:
a = int("3") # 문자열을 정수형으로 변환하는 함수
print(a)
print(type(a))

b = int(3.4) #실수형을 정수형으로 변환
print(b)

c = int("1111", 2) # 문자열을 2진수로 변환
print(c)

d = int("FF", 16)
print(d)

3
<class 'int'>
3
15
255

In [30]:
a = ['사과', '배', '수박', '바나나', '포도']
print(a)

['사과', '배', '수박', '바나나', '포도']

In [31]:
result = ""
for i in a:
    result += i+","
print(result)

사과,배,수박,바나나,포도,

In [32]:
a = ['사과', '배', '수박', '바나나', '포도']
print(",".join(a))
print("/".join(a))
print("-".join(a))
print("\n".join(a))

사과,배,수박,바나나,포도
사과/배/수박/바나나/포도
사과-배-수박-바나나-포도
사과
배
수박
바나나
포도

In [33]:
# len() 요소의 갯수
a = len("python")
print(a)

6

In [34]:
b = len([1, 2, 3])
print(b)

3

In [35]:
c = len((1, 'a'))
print(c)

2

In [36]:
# list(), tuple()
a = list("python") #문자열을 리스트로 변환
print(a)
b = list((1, 2, 3))
print(b) #튜플을 리스트로 변환

['p', 'y', 't', 'h', 'o', 'n']
[1, 2, 3]

# 사용자 정의 함수

In [38]:
def calc(x):
    #print("x = ", x)
    return x * 2

In [39]:
a = [calc(1), calc(2), calc(3), calc(4)]
print(a)

[2, 4, 6, 8]

In [40]:
a = [] # 비어있는 리스트 객체 생성
for i in [1, 2, 3, 4]:
    a.append(calc(i))
print(a)

[2, 4, 6, 8]

In [41]:
# map(함수이름, 입력값리스트)
a = list(map(calc, [1, 2, 3, 4]))
print(a)

[2, 4, 6, 8]

In [42]:
c = "이"
print(c)
print(ord(c)) # ord(문자) : 문자코드

이
51060

In [43]:
a = "python"

for i in a:
    print("{} => {}".format(i, ord(i)))

p => 112
y => 121
t => 116
h => 104
o => 111
n => 110

In [45]:
a = max([1, 2, 3])
print(a)
b = max("python")
print(b)

3
y

In [46]:
a = min([1, 2, 3])
print(a)
b = min("python")
print(b)

1
h

In [47]:
a = pow(2, 4)
print(a)
print(2 ** 4)

16
16

In [48]:
# 호출방법
# Call by Name(이름에 의한 호출), Call by Value(값에 의한 호출), Call by Reference(참조, 주소에 의한 호출)

## 함수 선언
def say():
    a = "안녕하세요"
    #print("안녕하세요")
    return a

In [50]:
# 함수 호출
say()

'안녕하세요'

In [49]:
"안녕하세요"

'안녕하세요'

In [54]:
b = say()

In [55]:
b

'안녕하세요'

In [56]:
b

'안녕하세요'

In [57]:
# 함수 선언
def hello(name):
    string = "Hello, {}".format(name)
    print(string)

In [60]:
# 함수 호출
hello("홍길동")

Hello, 홍길동

In [61]:
# 함수 선언
def hello(name):
    string = "Hello, {}".format(name)
    #print(string)
    return string

In [62]:
hi = hello("Lee")
print(hi)

Hello, Lee

In [63]:
hi

'Hello, Lee'

In [64]:
# 함수 선언
def hello(name):
    #string = "Hello, {}".format(name)
    #print(string)
    #return string
    return "Hello, {}".format(name)

In [65]:
hello("장보고")

'Hello, 장보고'

In [66]:
"Hello, 장보고"

'Hello, 장보고'

In [67]:
# 함수 선언
def hello(name):
    #string = "Hello, {}".format(name)
    #print(string)
    #return string
    return "Hello, " + name

In [68]:
hello("이순신")

'Hello, 이순신'

In [69]:
"Hello, " + "이순신"

'Hello, 이순신'

In [ ]:
a = [1, 2, 3, 4, 5]
tot = 0

for i in a:
    tot += i
print(tot)

In [70]:
def hap(data):
    tot = 0
    for i in a:
        tot += i
    return tot

In [72]:
a = [1, 2, 3, 4, 5]
tot = hap(a)

print(tot)

15