# Python3 Program
#### 변수 - 자료구조(리스트, 튜플, 집합, 사전) - 함수
#### 자료 - 기본자료형(논리형, 정수형, 실수형, 문자형)
#### 제어문 - 조건문, 반복문

### 문자열 자료형

In [1]:
# 문자열(string) 자료형 : 하나의 문자 또는 그 이상의 문자를 묶어놓은 자료형
# 큰따옴표("") 또는 작은따옴표('')
# 여러 줄의 문자열을 처리할 때 (""" ~ """, '''~''')

In [ ]:
print("Hello World")

In [2]:
4+5

9

In [3]:
'python is fun'

'python is fun'

In [ ]:
"""Life is short,
You need Python"""

##### 이스케이프 문자
- \\(￦) 동일
- \n(new line) : 줄바꿈(개행)
- \t(tap key) : 일정 간격을 띄어라

In [4]:
# 연산 : +, *
a = "hello"
b = "python"
print(a + b)
print((a + b) * 3)

hellopython
hellopythonhellopythonhellopython

In [6]:
print("=" * 100)
print("Life is short, You need Python")
print("=" * 100)

====================================================================================================
Life is short, You need Python
====================================================================================================

In [8]:
# 문자열 길이 : len()
len("====================================================================================================")
p = "Life is short, You need Python"
print(len(p))

30

In [10]:
# 인덱싱과 슬라이싱
# [index], [start:end], [start:end:step]
a = "Life is too short, You need Python"
print(a[3]) #4번째 문자, 인덱스의 시작은 0부터
print(a[-1]) #리버스 인덱스, 마지막 문자

e
n

In [12]:
print(a[0:4])
print(a[:4]) # 시작 인덱스 생략시 처음부터

Life

In [13]:
print(a[0:]) # 마지막 인덱스 생략시 끝까지
print(a[:])

Life is too short, You need Python
Life is too short, You need Python

In [30]:
jumin = "220902-1234567"
# 출생년도, 월, 일
# 성별
# 출생지역
y = jumin[:2]
m = jumin[2:4]
d = jumin[4:6]
print("생년월일 : 22{0}년, {1}월, {2}일".format(y, m, d))
s = int(jumin[7])


if s % 2 == 1:
    print("성별 : 남자")
else:
    print("성별 : 여자")

생년월일 : 2222년, 09월, 02일
성별 : 남자

In [31]:
# 파이썬의 메모리 관리 방식
# -5 ~ 256까지는 이미 메모리에 저장되어서 시작된다.
a = -5
# print(a == -5)
print(a is -5)

a = -6
#print(a == -6)
print(a is -6)

In [36]:
a = print("hello")
print(a)
love = 0
love

hello
None

0

### 리스트(List) 자료형

In [37]:
a = [1, 'a', 3.14, 'Korea', True]
a

[1, 'a', 3.14, 'Korea', True]

In [39]:
print(type(a))
print(type(a[0]))

<class 'list'>
<class 'int'>

In [40]:
b = []
c = list() # tuple()
print(type(b))
print(type(c))

<class 'list'>
<class 'list'>

In [41]:
x = [1, 2, 3, ['a', 'b', 'c', 'd'], 5, 6, (7,8)]
x

[1, 2, 3, ['a', 'b', 'c', 'd'], 5, 6, (7, 8)]

In [42]:
print(x[-1])

(7, 8)

In [43]:
print(x[3])

['a', 'b', 'c', 'd']

In [44]:
print(x[3][1]) # [행, 열]

b

In [45]:
print(x[3][1:3])

['b', 'c']

In [ ]:
print(x[3][1], x[3][2])

In [46]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

In [47]:
[a[0] + b[0], a[1]+b[1], a[2]+b[2]]

[5, 7, 9]

In [53]:
x = []
for i in range(3):  # 0, 1, 2
    imsi = a[i] + b[i]
    x.append(imsi)
print(x)

x = [a[i] + b[i] for i in range(3)]
print(x)

[5, 7, 9]
[5, 7, 9]

In [54]:
x = [1, 2, (3, 4, 5)]
x

[1, 2, (3, 4, 5)]

In [55]:
y = (1, 2, ['a', 'b', 'c'])
print(y)
print(type(y))

(1, 2, ['a', 'b', 'c'])
<class 'tuple'>

In [56]:
print(y[-1])

['a', 'b', 'c']

In [57]:
y[-1][0] = 3
print(y)

(1, 2, [3, 'b', 'c'])

In [58]:
# 리스트 관련 함수
## 리스트에 마지막 요소를 추가 append()
## 리스트에 원하는 위치에 요소를 추가 insert(index, data)
## 리스트 정렬 sort() - 오름차순, sort(reverse=True) - 내림차순
## 리스트 뒤집기 reverse() - 리스트를 역순으로 읽음.
## 리스트 해당 요소의 인덱스 index(data)
## 리스트 요소 삭제 : del 리스트명[인덱스], remove(data), clear()
## 리스트의 마지막 요소를 추출 : 리스트명.pop()
## 리스트의 요소의 개수 : count() / count(data) : data의 개수를 확인
## 리스트의 확장 : extend(list) 리스트 자료형만 사용가능

### 튜플(Tuple) 자료형

In [61]:
t1 = ()
t2 = (1,)
t3 = (1, 2, 3)
print(t1, t2, t3)

() (1,) (1, 2, 3)

In [62]:
l1 = []
l2 = [1]
l3 = [1, 2, 3]
print(l1, l2, l3)

[] [1] [1, 2, 3]

In [63]:
t4 = (1, 2, 3, ['a', 'b'], ('aaa', 'bbb'))
print(t4)

(1, 2, 3, ['a', 'b'], ('aaa', 'bbb'))

In [65]:
print(id(t4[3]))
print(id(t4[3][0]))
print(id(t4[3][1]))

t4[3][0] = 3

print(id(t4[3]))
print(id(t4[2]))
print(id(t4[3][0]))

1834641680320
1834522995056
1834525795120
1834641680320
1834522995056
1834522995056

In [66]:
t1 = (1, 2, 'a', 'b')
t2 = (3, 4)
print(t1 + t2)
print(t1)
print(t2)

(1, 2, 'a', 'b', 3, 4)
(1, 2, 'a', 'b')
(3, 4)

In [67]:
print(id(t1))
t1 = t1 + t2
print(id(t1))

1834638279280
1834638818368

In [68]:
print(len(t1))

6

### 사전

In [70]:
dic = {'name':"aaa", "phone":'123-456-7890'}
print(dic)
print(type(dic))

{'name': 'aaa', 'phone': '123-456-7890'}
<class 'dict'>

In [71]:
# 사전[조건식] : key, 조건식 - 조건식이 참인 것만 대상으로 작업
print(dic['name'])

aaa

In [72]:
dic["age"] = 33
print(dic)

{'name': 'aaa', 'phone': '123-456-7890', 'age': 33}

In [73]:
dic[3] = [1, 2, 3]
print(dic)

{'name': 'aaa', 'phone': '123-456-7890', 'age': 33, 3: [1, 2, 3]}

In [74]:
del dic[3]
print(dic)

{'name': 'aaa', 'phone': '123-456-7890', 'age': 33}

In [75]:
student = {'id':[111, 222, 333, 444, 555],
          'name':['aaa', 'bbb', 'ccc', 'ddd', 'eee'],
          'kor':[88, 92, 74, 100, 93],
          'eng':[90, 87, 74, 88, 93],
          'math':[80, 70, 90, 50, 60]}
print(student)

{'id': [111, 222, 333, 444, 555], 'name': ['aaa', 'bbb', 'ccc', 'ddd', 'eee'], 'kor': [88, 92, 74, 100, 93], 'eng': [90, 87, 74, 88, 93], 'math': [80, 70, 90, 50, 60]}

In [76]:
print(student['id'])

[111, 222, 333, 444, 555]

In [77]:
print(student.keys())

dict_keys(['id', 'name', 'kor', 'eng', 'math'])

In [78]:
print(student.values())

dict_values([[111, 222, 333, 444, 555], ['aaa', 'bbb', 'ccc', 'ddd', 'eee'], [88, 92, 74, 100, 93], [90, 87, 74, 88, 93], [80, 70, 90, 50, 60]])

In [79]:
a = [[1, 2, 3], [4, 5, 6]]
a

[[1, 2, 3], [4, 5, 6]]

In [80]:
print(student.items())

dict_items([('id', [111, 222, 333, 444, 555]), ('name', ['aaa', 'bbb', 'ccc', 'ddd', 'eee']), ('kor', [88, 92, 74, 100, 93]), ('eng', [90, 87, 74, 88, 93]), ('math', [80, 70, 90, 50, 60])])

In [81]:
for key in student.keys():
    print(key)

id
name
kor
eng
math

In [82]:
student.clear()
print(student)

{}

In [83]:
dic = {'name':'aaa', 'phone':'123=456=7890'}
dic['age'] = 33
print(dic)

{'name': 'aaa', 'phone': '123=456=7890', 'age': 33}

In [84]:
print(dic['name'])

aaa

In [85]:
print(dic.get('name'))

aaa

### 집합(set)

In [86]:
# 중복이 불가능, 순서가 없다.
#s = {}
s = set([1, 2, 3, 4, 5])
print(s)

{1, 2, 3, 4, 5}

In [87]:
s2 = set("Hello")
print(s2)

{'o', 'l', 'e', 'H'}

In [88]:
a = list(s)
print(a)

[1, 2, 3, 4, 5]

In [90]:
b = tuple(s)
print(b)

(1, 2, 3, 4, 5)

In [91]:
# 집합과 관련된 함수
## add : 1개의 요소 추가
print(s)

{1, 2, 3, 4, 5}

In [92]:
s.add(6)
print(s)

{1, 2, 3, 4, 5, 6}

In [ ]:
s.add(5)
print(s)

In [93]:
# 여러개의 값을 추가 update(리스트 or 튜플 등 자료구조)
s1 = set([1, 2, 3])
print(s1)

{1, 2, 3}

In [94]:
s1.update([4])
print(s1)

{1, 2, 3, 4}

In [95]:
s1.update([4, 5, 6])
print(s1)

{1, 2, 3, 4, 5, 6}

In [97]:
s1.update((5, 6, 7))
print(s1)

{1, 2, 3, 4, 5, 6, 7}

In [98]:
s1.update("python")
print(s1)

{1, 2, 3, 4, 5, 6, 7, 't', 'h', 'n', 'p', 'o', 'y'}

In [99]:
# 특정 값을 제거하는 함수 remove(data)
s1.remove('p')
print(s1)

{1, 2, 3, 4, 5, 6, 7, 't', 'h', 'n', 'o', 'y'}

In [100]:
print("#")

#

In [101]:
for i in range(5):
    print("#", end=" ")

#####

In [103]:
#####
#####
#####
#####
#####
for i in range(5):
    print("#"*5)

#####
#####
#####
#####
#####

In [105]:
#
##
###
####
#####
for i in range(1,6):
    print("#"*i)

#
##
###
####
#####

In [108]:
    #
   ##
  ###
 ####
#####
for i in range(1,6):
     print(" "*(5-i) + "#" * i)

    #
   ##
  ###
 ####
#####

### 제어문

In [109]:
# 조건문 : 단순 if문, if~else문, elif문 => 선택문
## 조건식 : 비교(관계) 연산자, 논리 연산자
money = True

if money:
    print("택시 타고 집가자")
else:
    print("걸어가자")

택시 타고 집가자

#### 계산기 프로그램
두 개의 정수와 하나의 연산자를 입력받아 연산을 수행한 후 결과를 출력하는 프로그램을 구하시오.

In [9]:
x = int(input("첫번째 숫자를 입력하세요. : "))
y = int(input("두번째 숫자를 입력하세요. : "))
a = ["+", '-', '*', '/']

while True:
    c = input("+, -, *, / 중 하나를 입력하세요. : ")
    if c != "+" and c != "-" and c != "*" and c != "/"
    else:
        if c == "+":
            res = x + y
        elif c == "-":
            res = x - y
        elif c == "*":
            res = x * y
        elif c == "/":
            res = x / y
        break
    
print("{0} {1} {2} = {3}".format(x, c, y, res))

SyntaxError: invalid syntax (1643687645.py, line 7)

In [3]:
x = int(input("첫번째 숫자를 입력하세요. : "))
y = int(input("두번째 숫자를 입력하세요. : "))
c = input("+, -, *, / 중 하나를 입력하세요. : ")
a = ["+", '-', '*', '/']

while c != a[:]:
    c = input("연산자를 재입력 해주세요. : ")
elif c == "+":
    res = x + y
elif c == "-":
    res = x - y
elif c == "*":
    res = x * y
elif c == "/":
    res = x / y
    break
print("{0} {1} {2} = {3}".format(x, c, y, res))

SyntaxError: invalid syntax (3243443862.py, line 8)

#### UP/DOWN 게임
1에서 100 사이의 숫자 하나를 랜덤으로 발생한 후 사용자가 입력한 숫자와 비교하여 그 결과를 출력하는 프로그램

In [1]:
# 난수 생성하는 함수를 가지고 있는 모듈
import random

# 난수 생성 함수 : random.randint(1, 100) - 하나의 정수 난수(1~100) 생성
check = random.randint(1, 100)

num = int(input("숫자를 입력하세요. : "))
    
while (num != check):
    
    if not 1 <= num <= 100:
        num = int(input("숫자를 입력하세요. : "))
    else:
        if num < check:
            print("UP")
        elif num > check:
            print("DOWN")
        num = int(input("숫자를 입력하세요. : "))
else:
    print("정답")

숫자를 입력하세요. : 50
UP
숫자를 입력하세요. : 60
UP
숫자를 입력하세요. : 7
UP
숫자를 입력하세요. : 080
DOWN
숫자를 입력하세요. : 75
UP
숫자를 입력하세요. : 78
UP
숫자를 입력하세요. : 79
정답

In [32]:
import random
check = random.randint(1, 100)
check

78

### 사다리꼴의 넒이를 구하는 프로그램을 구현하시오.

In [5]:
# (윗변 + 아랫변) * 높이 / 2
u = float(input("윗변을 입력하세요 : "))
d = float(input("아랫변을 입력하세요 : "))
h = float(input("높이를 입력하세요 : "))

m = (u + d) * h / 2

print("윗변이 %d, 아랫변이 %d, 그리고 높이가 %d인 사다리꼴의 넓이는 %.1f입니다." %(u,d,h,m))

윗변을 입력하세요 : 5.5
아랫변을 입력하세요 : 9.5
높이를 입력하세요 : 10.5
윗변이 5, 아랫변이 9, 그리고 높이가 10인 사다리꼴의 넓이는 78.8입니다.

== 멀티프로그램 ==
1. 최대값
2. 수나열
3. 사칙연산
4. 프로그램 종료
================
메뉴 = 

최대값 : 두 개의 정수를 입력 받아 큰 수를 출력하는 프로그램
수나열 : 세 걔의 정수를 입력받아 큰 순서대로 나열하여 출력하는 프로그램
사칙연산 : 두 개의 정수와 하나의 연산자를 입력받아 계산결과를 출력하는 프로그램

In [8]:
while True:
    print("==== Main Menu ====")
    print("1. 최대값 구하기")
    print("2. 수나열 구하기")
    print("3. 계산기 프로그램")
    print("4. 프로그램 종료")
    print("===================")
    menu = int(input("menu = "))

    if menu == 4:
        print("GOOD BYE")
        break
    elif menu == 1:
        pass
    elif menu == 2:
        pass
    elif menu == 3:
        pass
    else:
        print("너 바보지!")

==== Main Menu ====
1. 최대값 구하기
2. 수나열 구하기
3. 계산기 프로그램
4. 프로그램 종료
===================
menu = 5
너 바보지!
==== Main Menu ====
1. 최대값 구하기
2. 수나열 구하기
3. 계산기 프로그램
4. 프로그램 종료
===================
menu = 10
너 바보지!
==== Main Menu ====
1. 최대값 구하기
2. 수나열 구하기
3. 계산기 프로그램
4. 프로그램 종료
===================
menu = 4
GOOD BYE

In [19]:
def main():
    print("==== Main Menu ====")
    print("1. 최대값 구하기")
    print("2. 수나열 구하기")
    print("3. 계산기 프로그램")
    print("4. 프로그램 종료")
    print("===================")
    
while True:
    main()
    menu = int(input("menu = "))


    if menu == 4:
        print("GOOD BYE")
        break
    elif menu == 1:
        pass
    elif menu == 2:
        pass
    elif menu == 3:
        pass
    else:
        print("너 바보지!")

==== Main Menu ====
1. 최대값 구하기
2. 수나열 구하기
3. 계산기 프로그램
4. 프로그램 종료
===================
menu = 1
==== Main Menu ====
1. 최대값 구하기
2. 수나열 구하기
3. 계산기 프로그램
4. 프로그램 종료
===================
menu = 2
==== Main Menu ====
1. 최대값 구하기
2. 수나열 구하기
3. 계산기 프로그램
4. 프로그램 종료
===================
menu = 3
==== Main Menu ====
1. 최대값 구하기
2. 수나열 구하기
3. 계산기 프로그램
4. 프로그램 종료
===================
menu = 4
GOOD BYE

### 함수(Function)
1. 함수의 정의 : 관련된 기능이나 명령어 묶음
  - 필요할 때 호출 가능
  - 유지보수가 수월
  - 가독성이 좋다
 

2. 함수의 구조(구성) : def(=define) 선언문
   def 함수의 이름(매개변수): <br>
       문장1<br>
       문장2<br>
        |  <br>
       return 값

3. 함수의 호출 방법
  - 이름에 의한 호출(Call by Name)
  - 값에 의한 호출(Call by Value)
  - 주소에 의한 호출(Call by Reference)
  
4. 함수의 기본 형식
  - 매개변수 없고, 리턴값 없는 경우
  - 매개변수 없고, 티턴값 있는 경우
  - 매개변수 있고, 리턴값 없는 경우
  - 매개변수 있고, 리턴값 있는 경우

In [9]:
# 매개변수 없고, 리턴값 없는 함수
def aaa():
    print("Hi")
    print("뭘봐")

aaa()

Hi
뭘봐

In [10]:
# 매개변수 없고, 리턴값 있는 경우
def bbb():
    return "Hi"
bbb()

'Hi'

In [11]:
# 매개변수 있고, 리턴값 없는 경우
def ccc(a):
    print(a)
ccc(1)

1

In [13]:
def ddd(a, b, c):
    print(a + b + c)
ddd(5, 6, 9)

20

In [15]:
# 매개변수 있고, 리턴값 있는 경우
def eee(a, b):
    c = a + b
    return c

eee(99, 89)

188

In [16]:
aaa()
bbb()
ccc(35900)

Hi
뭘봐
35900

In [17]:
# 함수 호출
print("프로그램 시작")
print("여러가지 작업")
aaa()
print("프로그램 종료")

프로그램 시작
여러가지 작업
Hi
뭘봐
프로그램 종료

In [20]:
# 함수 호출
print("프로그램 시작")
print("여러가지 작업")
print(bbb())
string = bbb()
print("프로그램 종료")

프로그램 시작
여러가지 작업
Hi
프로그램 종료

In [21]:
# 함수 호출
print("프로그램 시작")
print("여러가지 작업")
ppp()
print("프로그램 종료")

안녕 디지몬~ 잘가

In [34]:
#default parameter : 초기 파라미터
## 함수의 매개변수에 초기값을 담아서 처리하는 기능
def ppp(a, b, c = 3):
    print(a, b, c)

In [25]:
ppp(100)

100 20 30

In [26]:
ppp(100, 200)

100 200 30

In [27]:
ppp(100, 200, 300)

100 200 300

In [28]:
ppp(, 200, 300)

SyntaxError: invalid syntax (499447319.py, line 1)

In [36]:
# 함수 호출
print("프로그램 시작")
print("여러가지 작업")
x = eee(1, 2)
print("x = ", x)
print("프로그램 종료")

프로그램 시작
여러가지 작업
x =  3
프로그램 종료

In [37]:
# 가변길이 매개변수
def add(a, b):
    return a+ b

In [38]:
def add(a, b, c):
    return a+ b

In [39]:
# 가변길이 매개변수
def add_res(*args):
    res = 0
    for i in args:
        res += i
    
    return res

In [40]:
a = add_res(1, 2, 3)
print(a)

b = add_res(2, 3)
print(b)

c = add_res(111, 159, 789, 456, 753)
print(c)

6
5
2268

In [42]:
def calc(ch, *ar):
    if ch == "add":
        res = 0
        for i in ar:
            res += i
    elif ch == "mul":
        res = 1
        for i in ar:
            res *= i
            
    return res

In [43]:
a = calc("add", 1, 2, 3)
print(a)
b = calc("mul", 1, 2, 3, 4, 5)
print(b)

6
120