# 제어문과 함수

In [1]:
# 조건문(if, if~else, elif)과 반복문(for, while)
## for 개별변수 in 집합변수:
for i in [1, 2, 3, 4, 5]:
    print(i, end=" ")   # end = "\n"

1 2 3 4 5

In [2]:
numbers = [1, 2, 3, 4, 5]
for i in numbers:
    print(i, end=' ')

1 2 3 4 5

In [3]:
# sequence type : 시퀀스 자료형
## 순서대로 데이터를 저장하고 관리하는 자료구조
## list, tuple
a = range(10)  # range(start, end, step), length : 0 ~ 9
print(a)

range(0, 10)

In [4]:
a = list(range(10))  # 리스트로 저장
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
a = range(1, 11) # 1 ~ 10
print(a)

range(1, 11)

In [6]:
a = list(range(1, 11))
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
a = list(range(1, 11, 2)) # 1 ~ 10, step 2
print(a)

[1, 3, 5, 7, 9]

In [8]:
# 1 ~ 10까지의 합을 계산하여 출력하는 프로그램
# 1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10 = ?
# 변수 할당, 변수 참조
sum = 0   # 변수의 초기화, 1~10까지의 자연수를 누적해서 담을 변수
for i in range(1, 11):
    # sum = sum + i, 누적변수 - 좌변과 우변에 동일한 변수로 이루어진 변수
    sum += i
    
print("sum = ", sum)

sum =  55

In [9]:
# 사용자로부터 하나의 숫자를 입력받아 1부터 입력받은 수까지의 합계를 계산하여 출력하는 프로그램
## 1 ~ n
n = int(input("숫자를 입력하세요 = "))  # 10

sum = 0
for i in range(1, n+1):  # n+1의 의미를 생각해보자!!!(입력값 10)
    sum += i
    
print("sum = ", sum)

숫자를 입력하세요 = 100
sum =  5050

In [11]:
# n, m에 숫자를 입력받아 1 ~ n까지의 m의 배수의 합계를 계산하여 출력하는 프로그램을 구현하시오.
## n = 10, m = 2가 입력되었다면 : 1부터 10사이의 수중 2에 배수에 값만 누적합을 계산
n = int(input("숫자 = ")) # 10
m = int(input("배수 = ")) # 2 => 2, 4, 6, 8, 10
sum = 0

for i in range(0, n+1, m):  # range(1, 11, 2) - 1, 3, 5, 7, 9
    sum += i
    
print("sum = ", sum)

숫자 = 10
배수 = 5
sum =  15

In [12]:
# 리스트 안에 요소가 튜플인 경우
a = [(1, 2), (3, 4), (5, 6)]

for i in a:
    print(i)

(1, 2)
(3, 4)
(5, 6)

In [13]:
a = [(1, 2), (3, 4), (5, 6)]

for aa in a:
    a1 = aa[0]
    a2 = aa[1]
    print(aa, a1, a2)

(1, 2) 1 2
(3, 4) 3 4
(5, 6) 5 6

In [14]:
# 리스트 a의 개별요소들의 합을 출력하는 프로그램
a = [(1, 2), (3, 4), (5, 6)]

for (first, second) in a:
    print("{0} + {1} = {2}".format(first, second, first+second))

1 + 2 = 3
3 + 4 = 7
5 + 6 = 11

In [17]:
# 학생들의 점수를 이용해서 합격과 불합격을 판정하는 프로그램을 구현하시오.
points = [90, 25, 67, 45, 80]
# 점수가 60점 이상이면 "합격", 그렇지 않으면 "불합격"을 판정
# 출력형식 : 1번학생 : 90점, 합격입니다.

# 학생들 번호를 누적할 변수 선언
#num = 0
num = 1
for point in points:
    # 학생 번호
    #num += 1
    
    # 합격, 불합격 판정식
    if point >= 60:
        result = "합격"
    else:
        result = "불합격" 
        
    # 출력형식
    #print("%d번 학생 : %d점, %s 입니다." % (num, point, result))
    print("{0}번 학생 : {1}점, {2} 입니다.".format(num, point, result))
    
    num += 1

1번 학생 : 90점, 합격 입니다.
2번 학생 : 25점, 불합격 입니다.
3번 학생 : 67점, 합격 입니다.
4번 학생 : 45점, 불합격 입니다.
5번 학생 : 80점, 합격 입니다.

In [18]:
a = 0

while a < 10: # 조건식 참일 때 반복해서 수행된다.
    a += 1
    if a % 2 != 0:  # 입력받은 값을 2로 나눈 나머지가 0이 아니라면 - 홀수라면
        continue  # skip, 이하 생략(건너띄어라)
    print(a)

2
4
6
8
10

In [19]:
# 무한Loop : 무한반복 - 반드시 반복문을 벗어나는 문장을 기술해야 한다.
# 문자를 입력받아 출력하는 프로그램 단, 입력문자가 x이면 작업을 종료
while True:
    s = input("문자입력(종료하려면 x) = ")
    print("입력한 내용 : ", s)
    if s == "x":
        break # 탈출조건, 반복을 벗어나는 경우

문자입력(종료하려면 x) = a
입력한 내용 :  a
문자입력(종료하려면 x) = b
입력한 내용 :  b
문자입력(종료하려면 x) = e
입력한 내용 :  e
문자입력(종료하려면 x) = x
입력한 내용 :  x

In [20]:
# 구구단을 작성하는 프로그램
# 사용자로부터 단을 입력받아 구구단을 출력하되, 단에 0이 입력되면 작업을 종료하시오.

# True(1), False(0)
while 1: # while True와 같은 의미, 무한반복
    dan = int(input("단 = "))
    if dan == 0:
        break
    for i in range(1, 10):
        print("{0} x {1} = {2}".format(dan, i, dan*i))

단 = 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
단 = 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
단 = 0

In [21]:
# 년도를 입력받아 평년인지 윤년인지 판단하여 출력하는 프로그램을 구현하시오.
# 단, 입력받은 년도가 0이면 작업을 종료하시오.
# 윤년은 4년마다 돌아오는데 100으로 나누어 떨어지는 연도는 평년이다. 하지만, 400으로 나누어 떨어지는
# 년도는 윤년이다.

while True: # 무한반복(0이 입력되면 종료)
    year = int(input("년도(종료:0) = "))
    
    if year == 0:
        print("프로그램을 종료합니다.")
        break
        
    if year % 4 == 0 and year % 100 != 0 or year % 400 == 0:
        print("{0}년도는 윤년입니다.".format(year))
    else:
        print("{0}년도는 평년입니다.".format(year))

년도(종료:0) = 2018
2018년도는 평년입니다.
년도(종료:0) = 2000
2000년도는 윤년입니다.
년도(종료:0) = 0
프로그램을 종료합니다.

In [22]:
# 함수의 수행순서
# 지역변수와 전역변수의 의미
# 지역변수 : 특정 지역내에서(함수안에서)만 유효한 변수, local
# 전역변수 : 프로그램 전반적으로 유효한 변수, global

# 함수의 선언
def f(x):   # f라는 이름의 함수를 선언할 때, 매개변수 x
    y = x
    x = 5   # 지역변수 : 변수가 선언된 지역에서만 사용이 제한된 변수
    #print("x = ", x)
    return y * y  # 3 * 3

x = 3 # 전역변수
print(f(x)) # 함수호출, print(9)
print("x = ", x)

9
x =  3

In [23]:
# 변수의 유효범위(scope)
## 지역변수 : 함수안에서 선언된 변수는 함수안에서만 유효하다.
## 전역변수 : 함수와 상관없이 구현된 변수는 프로그램 전체에서 유효하다.

def test(t):
    print(x) # 10
    t = 20  # 지역변수 - 함수를 벗어나면 소멸된다.
    print("In Function : ", t) # 20
    
x = 10  # 전역변수
test(x)  # 함수호출
print("In Main : ", x) # 10
print("In Main : ", t) # error

10
In Function :  20
In Main :  10

NameError: name 't' is not defined

In [25]:
# 변수(variable) : 변하는 수, 기억공간(메모리), 하나의 데이터만 저장된다.

def f():
    global s    # 함수안에서 전역변수를 선언할 때
    s = "I Love London!!"   # 전역변수
    print(s)
    
s = "I Love Paris!!"  # 전역변수
f()  # 함수호출
#s = "I Love London!!" 
print(s)

I Love London!!
I Love London!!

In [26]:
for i in range(5):  # i = 0, 1, 2, 3, 4  => 행을 뜻한다라고 생각하고
    for j in range(5): # j = 0, 1, 2, 3, 4  => 열을 의미한다고 생각해보면
        if j == i:   # if i == j와 동일한 의미
            print('*', end='') # 0행0열, 1행1열, 2행2열, 3행3열, 4행4열에 찍힘
        else:
            print(' ', end='') # 빈칸(공백) 처리
    print() # 개행의 의미
    
# 다중 for의 실행순서는
# 바깥쪽 for문이 한번동작할 때 안쪽 for문은 주어진 횟수만큼 반복하다.
# i = 0일때, j = 0, 1, 2, 3, 4
# i = 1일때, j = 0, 1, 2, 3, 4
# i = 2일때, j = 0, 1, 2, 3, 4
# i = 3일때, j = 0, 1, 2, 3, 4
# i = 4일때, j = 0, 1, 2, 3, 4

*
 *
  *
   *
    *

In [27]:
for i in range(5):  # i = 0, 1, 2, 3, 4  => 행을 뜻한다라고 생각하고
    for j in range(0, i+1): # 열을 의미한다고 , *가 찍히는 개수
        print("*", end='')
    print() # 개행의 의미
    
    
# *
# **
# ***
# ****
# *****
# i = 0일때, j = 0 
# i = 1일때, j = 0, 1 
# i = 2일때, j = 0, 1, 2 
# i = 3일때, j = 0, 1, 2, 3 
# i = 4일때, j = 0, 1, 2, 3, 4

*
**
***
****
*****

In [28]:
# 변수의 사용범위(유효범위)
def calc(x, y):
    tot = x + y  # 5 + 7, 지역변수
    print("In Function")
    # str() : 숫자를 문자열로 변환하는 함수
    print("a: ", str(a), "b: ", str(b), "a+b: ", str(a+b), "tot: ", str(tot))
    return tot

a = 5 # 전역변수
b = 7 # 전역변수
tot = 0 # 전역변수
print("In Program")
print("a: ", str(a), "b: ", str(b), "a+b: ", str(a+b)) # 5, 7, 12

sum = calc(a, b)  # 함수호출
print("함수 calc 호출 후")
print("tot: ", str(tot), "sum: ", str(sum))  # 0, 12

In Program
a:  5 b:  7 a+b:  12
In Function
a:  5 b:  7 a+b:  12 tot:  12
함수 calc 호출 후
tot:  0 sum:  12

In [29]:
# default parameter : 매개변수의 초기화
# 함수의 오버로딩(Overloadding) : 동일한 이름을 가진 함수를 여러개 만들어 사용하는 기능으로
# 매개변수의 개수가 달라야 한다.

def aaa():
    print("Hi")
    
def aaa(x):
    print("Hi" * x)
    
def aaa(string, x):
    print(string * x)

In [30]:
# 함수호출
aaa()

TypeError: aaa() missing 2 required positional arguments: 'string' and 'x'

In [31]:
aaa(3)

TypeError: aaa() missing 1 required positional argument: 'x'

In [32]:
aaa("Hi", 3)

HiHiHi

In [33]:
aaa("Good Morning", 5)

Good MorningGood MorningGood MorningGood MorningGood Morning

In [37]:
def aaa(x = 1, string="Hi"):
    print(string * x)

In [38]:
aaa()

Hi

In [39]:
# 매개변수에 초기값(처음값)을 담는 함수를 정의해서 사용할 경우
# 초기값을 채우는 것은 반드시 뒤에 있는 매개변수부터 채워야 한다.
# 매개변수를 입력할 때는 앞에있는 변수부터 채워진다.
aaa(3)

HiHiHi

In [42]:
aaa(5, "Good_Luck ")

Good_Luck Good_Luck Good_Luck Good_Luck Good_Luck

In [48]:
# 함수의 매개변수에 초기값을 줄때 반드시 뒤에부터 채워야 한다.
def birth(year = 2013, month = 8, day = 5):
    print(str(year) + " - " + str(month) + " - " + str(day))

birth()
birth(1999)
birth(2022, 9)
birth(1999, 10, 20)

2013 - 8 - 5
1999 - 8 - 5
2022 - 9 - 5
1999 - 10 - 20

In [49]:
# 가변 인수 : 매개변수의 개수가 정해지지 않았을 때 사용하는 매개변수, 변수명앞에 *를 붙인다.
## 함수 호출 방법 : 이름에 호출, 값에 의한 호출, 참조에 의한 호출

def aaa():  # 매개변수도 없고, 리턴값도 없는 함수, Call By Name(이름에 의한 호출)
    print("Hello")
    
def bbb(x): # 매개변수도 있고, 리턴값도 있는 함수, Call By Value(값에 의한 호출)
    return x
    
def ccc(x, y): # 매개변수 있고, 리턴값이 없는 함수
    tot = x + y  # 지역변수
    print("합 : ", tot)
    
def adder(x): # 매개변수 있고, 리턴값도 있는 함수, Call By Reference(참조=주소에 의한 호출)
    tot = 0
    
    # for 개변변수 in 집합변수:
    for i in x:
        tot += i
        
    return tot

In [50]:
# 이름에 의한 호출 - 매개변수를 가지고 있지 않은 함수 호출
aaa()

Hello

In [53]:
# 값에 의한 호출 - 매개변수를 가지고 해당 함수를 호출
#a = bbb(10)
#print(a)
print(bbb(10))

10

In [51]:
10

10

In [54]:
ccc(3, 4)

합 :  7

In [55]:
bbb([1, 2, 3, 4, 5])

[1, 2, 3, 4, 5]

In [56]:
total = adder([1, 2, 3, 4, 5])
print("total = ", total)

total =  15

In [57]:
total = adder([1, 2, 3])
print("total = ", total)
total = adder([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
print("total = ", total)

total =  6
total =  55

In [58]:
def total(a, b, c):
    tot = a + b + c
    return tot

In [59]:
a = total(1, 2, 3)
print("a = ", a)

a =  6

In [60]:
a = total(1, 2, 3, 4, 5)
print("a = ", a)

TypeError: total() takes 3 positional arguments but 5 were given

In [61]:
# 가변 인수(매개변수) : 개수가 정해지지 않은 여러개의 매개변수
def total(*x):
    tot = 0
    for i in x:
        tot += i
        
    return tot

In [62]:
a = total(1, 2, 3)
print("a = ", a)

a =  6

In [63]:
a = total(1, 2, 3, 4, 5)
print("a = ", a)

a =  15

In [64]:
a = total(1)
print("a = ", a)

a =  1

In [66]:
# 함수안에 함수를 호출할 수 있다.
def hap(x):
    tot = 0
    for i in x:
        tot += i
    return tot

def total(a, b, *args):
    return a + b + hap(args)

print(total(1, 2, 3, 4, 5)) # a = 1, b = 2, 나머지는 args

15

In [67]:
print(total(1, 2, 3))

6

In [68]:
print(total(1, 2, 3, 4, 5, 6, 7, 8, 9, 10))

55

In [72]:
def sample(*args):
    x, y, *z = args  # unpacking(언팩킹)
    return x, y, z

print(sample(3, 4, 5, 6, 7, 8))

(3, 4, [5, 6, 7, 8])

In [73]:
print(sample(3, 4, 5))

(3, 4, [5])

In [74]:
# 키워드 가변 인수 : 매개변수의 이름을 따로 지정하지 않고 입력하는 방법
# 가변인수와 구별하기 위해 매개변수앞에 ** 붙인다.
# 입력되는 값을 딕셔너리 형으로 사용된다.
# 여러개의 매개변수를 담을 때 반드시 키워드 매개변수는 맨 마지막에 선언되어야 한다.
def kwargs_test(**kwargs):
    print(kwargs)
    print('First value is {first}'.format(**kwargs))
    print('Second value is {second}'.format(**kwargs))
    print('Third value is {third}'.format(**kwargs))
    
kwargs_test(first=3, second=4, third=5)
# {'first':3, 'second':4, 'third':5}

{'first': 3, 'second': 4, 'third': 5}
First value is 3
Second value is 4
Third value is 5

In [75]:
def hap(x):
    tot = 0
    for i in x:
        tot += i
    return tot

def kwargs_test(a, b, *c, **kwargs):
    print(a + b + hap(c))
    print(kwargs)
    
# 함수호출
kwargs_test(3, 4, 5, 6, 7, 8, 9, first=3, second=4, third=5)

42
{'first': 3, 'second': 4, 'third': 5}

In [76]:
# None - 없다

In [85]:
# 멀티프로그램 : 1-최대값, 2-수나열, 3-사칙연산, 4-작업종료
# 각 처리기능별 함수를 구현하는 작업
# 최대값 - 두 개의 정수를 입력받아 최대값을 출력
# 수나열 - 세 개의 정수를 입력받아 큰 순서대로 나열하여 출력
# 계산기 - 두 개의 정수와 하나의 연산자를 받아 연산의 결과를 출력
# 언제든 프로그램을 사용자가 종료시킬 수 있도록 구현할 것.

# 메뉴를 출력하는 함수
def menu():
    print("==== 멀티프로그램 ====")
    print("1. 최대값 구하기")
    print("2. 수나열 구하기")
    print("3. 계산기 구하기")
    print("4. 프로그램 종료")

# 최대값을 처리하는 함수
def bigger():
    su1 = int(input("첫번째수 = "))
    su2 = int(input("두번째수 = "))
    
    if su1 >= su2:
        print("최대값 : ", su1)
    else:
        print("최대값 : ", su2)
        
# 수나열을 처리하는 함수
def sorting(su1, su2, su3):  # 4, 1, 9
    
    # 가장 큰 수가 될 수 있는 경우 세가지 - su1, su2, su3
    ## su1 큰 수가 아닌 경우
    if su2 >= su1 and su2 >= su3:  # su2가 가장 큰 수라면
        su1, su2 = su2, su1
    elif su3 >= su1 and su3 >= su2: # su3 가장 큰 수라면
        su1, su3 = su3, su1
    #else: # su1 가장 큰 수라면
    
    # su2와 su3을 비교해서 두번째수, 세번째수 
    if su3 >= su2:
        su2, su3 = su3, su2
    
    return "{0} >= {1} >= {2}".format(su1, su2, su3)  # 9 >= 4 >= 1
    # 무조건 가장 큰수를 su1에 담는다.
    # 두번째 큰 수를 su2에 담는다.
    # 세번째 큰 수를 su3에 담는다.
    
# 사칙연산을 수행하는 함수
## 두 개의 정수와 하나의 연산자를 입력받아 계산결과를 출력하는 작업
def calc():
    su1 = int(input("첫번째수 = "))
    op = input("연산자(+, -, *, / 중 1개) = ")
    su2 = int(input("두번째수 = "))
    
    if op == "+":
        print("{0} + {1} = {2}".format(su1, su2, su1+su2))
    elif op == "-":
        print("{0} - {1} = {2}".format(su1, su2, su1-su2))
    elif op == "*":
        print("{0} x {1} = {2}".format(su1, su2, su1*su2))
    else:
        print("{0} / {1} = {2}".format(su1, su2, su1/su2))

In [86]:
while True:
    # 메뉴호출
    menu()
    # 사용자 입력
    user = int(input("menu = "))
    
    # 사용자가 선택한 메뉴에 따른 작업
    if user == 1:
        bigger()  # 이름에 의한 호출
    elif user == 2:
        su1 = int(input("첫번째수 = "))
        su2 = int(input("두번째수 = "))
        su3 = int(input("세번째수 = "))
        s = sorting(su1, su2, su3)  # 값(매개변수)에 의한 호출
        print(s)
    elif user == 3:
        calc()  # 이름에 의한 호출
    elif user == 4:
        print("프로그램을 종료합니다.")
        break
    else:
        print("입력오류. 메뉴확인바람")

==== 멀티프로그램 ====
1. 최대값 구하기
2. 수나열 구하기
3. 계산기 구하기
4. 프로그램 종료
menu = 5
입력오류. 메뉴확인바람
==== 멀티프로그램 ====
1. 최대값 구하기
2. 수나열 구하기
3. 계산기 구하기
4. 프로그램 종료
menu = 1
첫번째수 = 1
두번째수 = 4
최대값 :  4
==== 멀티프로그램 ====
1. 최대값 구하기
2. 수나열 구하기
3. 계산기 구하기
4. 프로그램 종료
menu = 2
첫번째수 = 5
두번째수 = 1
세번째수 = 9
9 >= 5 >= 1
==== 멀티프로그램 ====
1. 최대값 구하기
2. 수나열 구하기
3. 계산기 구하기
4. 프로그램 종료
menu = 3
첫번째수 = 10
연산자(+, -, *, / 중 1개) = -
두번째수 = 3
10 - 3 = 7
==== 멀티프로그램 ====
1. 최대값 구하기
2. 수나열 구하기
3. 계산기 구하기
4. 프로그램 종료
menu = 4
프로그램을 종료합니다.

In [78]:
def sorting(su1, su2, su3):  # 4, 2, 7
    # 가장큰값 a, 중간값 b, 작은값 c
    
    ## su1이 가장 큰 수가 되는 경우
    if su1 >= su2 and su1 >= su3:
        a = su1 # 가장 큰 수를 담는 변수에 su1 저장
        if su2 >= su3:
            b = su2 # 두 번째로 큰수
            c = su3 # 세 번째 수
        else:
            b = su3
            c= su2
            
    ## su1이 가장 큰 수가 아니라면 - su2, su3
    elif su2 >= su1 and su2 >= su3: # su2가 가장 큰 수라면
        a = su2 # su2를 가장 큰 수를 담는 변수에 저장
        if su1 >= su3:
            b = su1
            c = su3
        else:
            b = su3
            c = su1
        
    else: # su3 큰 수라면
        a = su3
        if su1 >= su2:
            b = su1
            c = su2
        else:
            b = su2
            c = su1            
    
    return "{0} >= {1} >= {2}".format(a, b, c)  # 7 >= 4 >= 2
    # 무조건 가장 큰수를 su1에 담는다.
    # 두번째 큰 수를 su2에 담는다.
    # 세번째 큰 수를 su3에 담는다.

In [81]:
print(sorting(9, 10, 22))

22 >= 10 >= 9

In [82]:
def sorting(su1, su2, su3):  # 4, 1, 9
    
    # 가장 큰 수가 될 수 있는 경우 세가지 - su1, su2, su3
    ## su1 큰 수가 아닌 경우
    if su2 >= su1 and su2 >= su3:  # su2가 가장 큰 수라면
        su1, su2 = su2, su1
    elif su3 >= su1 and su3 >= su2: # su3 가장 큰 수라면
        su1, su3 = su3, su1
    #else: # su1 가장 큰 수라면
    
    # su2와 su3을 비교해서 두번째수, 세번째수 
    if su3 >= su2:
        su2, su3 = su3, su2
    
    return "{0} >= {1} >= {2}".format(su1, su2, su3)  # 9 >= 4 >= 1
    # 무조건 가장 큰수를 su1에 담는다.
    # 두번째 큰 수를 su2에 담는다.
    # 세번째 큰 수를 su3에 담는다.

In [83]:
print(sorting(9, 10, 22))

22 >= 10 >= 9

In [84]:
print(sorting(19, 100, 22))

100 >= 22 >= 19

### 람다(lambda) 함수 - 익명의 함수

In [87]:
# 일반적인 함수의 구조
def f(x, y):
    return x + y

# 함수호출
print(f(3, 8))

11

In [88]:
# 리스트 내포 - 리스트안에 결과를 담아서 출력하는 작업을 수행할때
a = []   # a = list()

for i in [1, 2, 3, 4, 5]:
    a.append(i * 2)
    
print(a)

[2, 4, 6, 8, 10]

In [89]:
a = [i * 2 for i in [1, 2, 3, 4, 5]]
print(a)

[2, 4, 6, 8, 10]

In [90]:
# 람다형식 - 입력값 : 출력값
f = lambda x, y : x + y

print(f(1, 4))

5

In [91]:
print((lambda x : x + 1)(5))

6

In [92]:
# 맵리듀스(MapReduce) : 빅데이터 처리를 위한 기본 알고리즘
## 파이썬 2와 3 호환성이 없다.
# map() 함수와 reduce() 함수로 구성
# map(함수, 리스트) == filter(함수, 리스트)
# reduce(함수, 시퀀스) - 시퀀스 : 문자열, 리스트, 튜플

list(map(lambda x : x ** 2, range(5)))
# range(5) : 0, 1, 2, 3, 4

[0, 1, 4, 9, 16]

In [93]:
# 파이썬3에서 사용할 때 모듈을 가져와야 한다.
# import 모듈명 : 해당 모듈이 가지고 있는 모든 객체를 포함시킬 때
# from 모듈명 import 변수 or 함수 : 해당 모듈에서 선택한 변수 or 함수만 포함시킬 때
from functools import reduce

# lambda 입력 : 출력
reduce(lambda x, y : x + y, [0, 1, 2, 3, 4])
# 0, 1 = 1
# 1, 2 = 3
# 3, 3 = 6
# 6, 4 = 10

10

In [94]:
reduce(lambda x, y : y + x, 'abcde')
# a, b = ba
# ba, c = cba
# cba, d = dcba
# dcba, e = edbca

'edcba'

In [96]:
n1, n2, n3 = map(int, input().split())
s = [n1, n2, n3]
s.sort(reverse = True)
print('{} >= {} >= {}'.format(s[0], s[1], s[2]))

7 2 9
9 >= 7 >= 2