In [1]:
# 문제1. 주어진 자연수가 홀수인지 짝수인지 판정하는 함수 is_odd()를 구현하시오.

In [1]:
def is_odd(a):
    if a % 2 == 0:
        print("짝수")
    else:
        print("홀수")

is_odd(99)

홀수

In [ ]:
# 문제2. 입력을 받아 들어오는 모든 수의 평균을 계산하는 함수를 구현하시오.
# 단, 입력으로 들어오는 매개변수의 개수는 정해져있지 않다.
# 평균은 계산할 때 len()함수를 이용할 것.

In [4]:
def avg(*score):
    tot = 0
    for i in score:
        tot += i
    res = tot/len(score)
    print(res)

avg(80, 90, 100, 456, 753, 789)

378.0

In [ ]:
# 문제3. 두 개의 정수를 입력받아 더한 결과를 반환하는 함수를 구현하시오.

In [5]:
def add(a, b):
    res = a + b
    return res

print(add(99,88))

187

In [ ]:
# 문제4.다음 주어진 출력 결과중 다른 한 개를 찾아 그 결과를 서술하시오.
## 1. print("you"  "need"  "python")
## 2. print("you"+"need"+"python")
## 3. print("you", "need", "python")
## 4. print("".join(["you","need","python"]))

In [6]:
## 3. print("you", "need", "python")만 결과가 다르다.
## 다른 함수들은 전부 youneedpython이라고 출력되지만 3번은 you need python이라고 출력된다.
## 해당 결과는 구분자에 의한 것이다. 구분자 ','는 기본값이 공백(space)이므로 뛰어쓰기가 되어 출력된다.
## 이를 수정하려면 해당 함수내에 sep을 사용하여 기본값을 변경해야한다.

youneedpython